In [1]:
import pandas as pd
import random
from random import randrange
import datetime

In [2]:
Machine_ID = pd.DataFrame(columns = ['mach_id', 'prod_id', 'bmc_id', 'jdlink_rgstn_ts', 'factory', 'mdl_yr', 'last_end_cptr_tm', 'series_nm', 'decal_model_nm'])

In [3]:
for i in range(10000):
    #mach_id
    mach_id = randrange(10000)
    
    #prod_id
    prod_id = randrange(10000)
    
    #bmc_id
    bmc_id = randrange(10000)

    #jdlink_rgstn_ts
    jdlink_rgstn_ts = datetime.datetime(randrange(2019,2021), randrange(1, 12), randrange(1, 25), randrange(0, 12), randrange(0, 59), randrange(0,59), randrange(1000000))

    #factory
    factories = ["Alaska", "Alabama", "Arkansas", "American Samoa", "Arizona", "California", "Colorado", "Connecticut", "District ", "of Columbia", "Delaware", "Florida", "Georgia", "Guam", "Hawaii", "Iowa", "Idaho", "Illinois", "Indiana", "Kansas", "Kentucky", "Louisiana", "Massachusetts", "Maryland", "Maine", "Michigan", "Minnesota", "Missouri", "Mississippi", "Montana", "North Carolina", "North Dakota", "Nebraska", "New Hampshire", "New Jersey", "New Mexico", "Nevada", "New York", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Puerto Rico", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Virginia", "Virgin Islands", "Vermont", "Washington", "Wisconsin", "West Virginia", "Wyoming"]
    factory = random.choice(factories)

    #mdl_yr generator
    mdl_yr = randrange(2010,2021)

    #last_end_cptr_tm
    last_end_cptr_tm = jdlink_rgstn_ts = datetime.datetime(randrange(2019,2021), randrange(1, 12), randrange(1, 25), randrange(0, 12), randrange(0, 59), randrange(0,59), randrange(1000000))

    #series_nm
    serieses = ['X', 'S', 'T', 'W']
    series_nm = random.choice(serieses)

    #decal_model_nm
    decal_model_nms = ['S790',' X9 1100']
    decal_model_nm = random.choice(decal_model_nms)
    
    new_row = {'mach_id' : mach_id, 
           'prod_id' : prod_id, 
           'bmc_id' : bmc_id, 
           'jdlink_rgstn_ts' : jdlink_rgstn_ts, 
           'factory' : factory, 
           'mdl_yr' : mdl_yr, 
           'last_end_cptr_tm' : last_end_cptr_tm, 
           'series_nm' : series_nm, 
           'decal_model_nm' : decal_model_nm}

    Machine_ID = Machine_ID.append(new_row, ignore_index = True)

In [4]:
Machine_ID

,mach_id,prod_id,bmc_id,jdlink_rgstn_ts,factory,mdl_yr,last_end_cptr_tm,series_nm,decal_model_nm
0,2291,9573,1572,2019-02-19 10:21:06.854815,Idaho,2019,2019-02-19 10:21:06.854815,X,S790
1,1373,5764,2837,2019-02-14 06:24:31.905844,Puerto Rico,2018,2019-02-14 06:24:31.905844,X,X9 1100
2,4473,7633,2578,2019-09-09 02:17:25.165808,Colorado,2019,2019-09-09 02:17:25.165808,S,X9 1100
3,7446,9189,1758,2019-01-13 09:21:53.311284,West Virginia,2019,2019-01-13 09:21:53.311284,X,X9 1100
4,9789,9560,667,2020-04-04 05:06:54.570078,Montana,2012,2020-04-04 05:06:54.570078,T,X9 1100
...,...,...,...,...,...,...,...,...,...
9995,4117,5150,2140,2020-05-20 07:41:23.557297,Georgia,2017,2020-05-20 07:41:23.557297,W,S790
9996,7332,288,9120,2020-04-22 07:25:39.652895,District,2017,2020-04-22 07:25:39.652895,W,X9 1100
9997,2835,9695,6958,2019-03-03 03:54:08.350675,Michigan,2018,2019-03-03 03:54:08.350675,W,X9 1100
9998,1036,3971,4059,2020-09-04 11:34:02.431017,Washington,2014,2020-09-04 11:34:02.431017,W,X9 1100
9999,4764,3182,2186,2020-10-08 11:09:14.512447,Indiana,2017,2020-10-08 11:09:14.512447,X,S790

In [5]:
Machine_ID.to_csv('Machine_ID.csv')